# Compiled binaries
/bin/
/worker
/app
/supervisor
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace files
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
